/*
CSS RESETS:
 Border box reset:
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 62.5% Fix: https: //www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
*/


html {
    box-sizing: border-box;
    font-size: 62.5%;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
}



body {
    background: var(--offWhite);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    /* same as 16px using 62.5% fix for rem */
    line-height: 1.6;
}


nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
height: 50px;

}
 nav a {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
 }

 nav a:hover {
   color: red;
 }

 /*
nav li:first-child {
    margin-right: auto;
}
*/
body a {
    color: white;
    text-decoration: none;
}

.nav-group {
 position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    width: 100%;
    background-color: black;

}


.h1-center {
    display: flex;
    justify-content: center;
}

#three-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;


}

#banner{
    background-color: black;
}
/* responsive images */
img {
    width: auto;
    max-width: 100%;
    height: auto;
}


/* Basic Flex Setup
------------------------------ */

/* Flexbox creates sticky footer for the homepage, since the content does not fill the whole page. You could do the same for the resume page to be consistent */

body {
    background: #0e131f80;
    color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1 0 auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    background-color: none;
    padding: 30px;
    border-radius: 5px;
}

main {
    padding: 2rem;
    background: rgb(250, 250, 250);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* delete gap if you would rather use margins */
    gap: 50px;
}

section {
    flex: 0 1 500px;
    background-color: rgb(42, 40, 46);
    padding: 2rem;
    border: 5px solid rgb(158, 53, 53);
    border-radius: 2px;
    /* add margin if you don't want to use gap in flex container (main) */
}

.center-header {
    display: flex;
    justify-content: center;
}

/* media queries
------------------------------ 

customize these for your own breakpoints */

/* this is mobile-first - meaning all the rest of the CSS is for mobile, and this CSS is specific to browser screens */
@media screen and (max-width:650px) {

    /* change padding for mobile */
    .content-wrapper {
        padding: 20px;
    }

    main {
        padding: 20px;
    }
    
    /* to switch to grid for desktop: */
    main {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
    
    section {
        flex: 0 1 auto;
    }

}





/* FOOTER
------------------------------ 

sticky footer with flexbox
breakpoints resize to mobile
 */

footer {
    background: black;
    color: white;
}

.socials {
    list-style-type: none;
    padding: 0;
}

.socials li {
    display: inline-block;
    margin-left: 5px;
}

.socials img {
    width: 32px;
}

.socials img:hover {
    opacity: 0.5;
}


@media screen and (min-width: 860px) {
    footer {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}

@media screen and (max-width: 859px) {
    footer {
        text-align: center;
        padding: 10px;
    }
}